/*Arquivo CSS da aula de desenvolvimento para internet unipar 2025*/
/*Reset CSS:Importante para zerar todos os estilos ja aplicados*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Variávies*/
/*posso salvar na variaveis configuracoes que podem ser usadas globalmente no css*/

:root {
    --primary-color:blue;
    --font-size:12px;
}

/*Componente*/

button{
    background-color: var(--primary-color);
    font-size: var(--font-size);
    color: aliceblue;
    padding: 2%;
    height: 10%;
    width: 50%;
    min-height: 100px;
    max-height: 500px;

}