* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo geral do corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
  }
   /*Titulo do texto*/  
  header h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #222;
  }
  
  
  /* Agrupar Cards */
  .container {
    display: flex;              /* Permite colocar os cards lado a lado */
    gap: 50px;                  /* Espaçamento entre os cards */
    justify-content: center;   /* Centraliza os cards horizontalmente */
    flex-wrap: wrap;           /* Permite quebrar a linha em telas pequenas */
  }
  
  /* Estilo dos cards */
  .card {
    background-color: #ccc9c9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;            /* Flexível, com largura mínima de 300px */
    max-width: 500px;           /* Impede que o card fique muito largo */
  }
  
  /* Título dos cards */
  .card h2 {
    margin-bottom: 10px;
    color: #1a1a1a;
  }
  
  /* Texto dos cards */
  .card p {
    color: #444;
    line-height: 1.5;
  }
  
  /* Responsividade: ajusta os cards no celular */
  @media (max-width: 600px) {
    .container {
      flex-direction: column;  /* Empilha os cards verticalmente */
      align-items: center;     /* Centraliza os cards na vertical */
    }
  }
 